// reset

@use '../abstracts/colors';
@use '../abstracts/variables';

body {
    margin: 0;
    background-color: colors.$body_background_color;
}

// page centered content
.content {
    padding-left: variables.$content_padding;
    padding-right: variables.$content_padding;
    margin: 0 auto;
    max-width: variables.$content_max_width;

    @media screen and (max-width: variables.$content_screen_medium) {
        padding-left: variables.$content_padding_small;
        padding-right: variables.$content_padding_small;
    }
}
