// shop-page

@use '../abstracts/colors';
@use '../abstracts/variables';

.shop-page {
    display: flex;

    &__aside {
        flex: variables.$shop_page_aside_flex;
        margin-right: variables.$shop_page_aside_margin_right;
    }

    &__aside-heading {
        margin: 0;
        color: colors.$shop_page_aside_heading_color;
        font-size: variables.$shop_page_aside_heading_font_size;
    }

    &__content {
        flex: variables.$shop_page_content_flex;
    }

    &__filters {
    }

    &__header {
    }

    &__heading {
        text-align: left;
    }

    &__pagination {
    }

    &__products {
    }

    &__showing {
    }
}
