// single-product

@use '../abstracts/colors';
@use '../abstracts/variables';

.single-product {
    &__info {
        display: flex;

        @media screen and (max-width: variables.$single_product_info_medium_screen) {
            flex-wrap: wrap;
        }
    }

    &__picture {
        flex: variables.$single_product_picture_flex;
        margin-right: variables.$single_product_picture_margin_right;
        margin-bottom: variables.$single_product_picture_margin_bottom;
        position: relative;

        @media screen and (max-width: variables.$single_product_info_medium_screen) {
            margin-right: 0;
            flex: variables.$single_product_picture_flex_medium;
        }
    }

    &__details {
        flex: variables.$single_product_details_flex;
    }

    &__image {
        width: variables.$single_product_image_width;
        height: auto;
    }

    &__heading {
        text-align: left;
        margin-bottom: variables.$single_product_heading_margin_bottom;
    }

    &__rating {
        display: flex;
        justify-content: space-between;
        margin-bottom: variables.$single_product_rating_margin_bottom;
        padding-bottom: variables.$single_product_rating_padding_bottom;
        border-bottom-style: solid;
        border-bottom-width: variables.$single_product_rating_border_width;
        border-bottom-color: colors.$single_product_rating_border_color;
    }

    &__reviews-link {
        font-weight: bold;
        text-decoration: none;
        color: colors.$single_product_reviews_link_color;
    }

    &__old-price {
        display: inline-block;
        margin-right: variables.$single_product_old_price_margin_right;
        color: colors.$single_product_old_price_color;
        font-size: variables.$single_product_old_price_font_size;
        text-decoration-line: line-through;
        text-decoration-color: colors.$single_product_old_price_text_color;
    }

    &__new-price {
        color: colors.$single_product_new_price_color;
        font-weight: bold;
        font-size: variables.$single_product_new_price_font_size;
    }

    &__text {
        margin-top: variables.$single_product_text_margin_top;
        margin-bottom: variables.$single_product_text_margin_bottom;
        line-height: variables.$single_product_text_line_height;
        font-size: variables.$single_product_text_font_size;
    }

    &__list {
        display: flex;
        align-items: center;
        margin-bottom: variables.$single_product_list_margin_bottom;
    }

    &__list-text {
        flex: variables.$single_product_list_text_flex;
        font-weight: bold;
    }

    &__list-select {
        flex: variables.$single_product_list_select_flex;
    }

    &__quantity {
        display: flex;
        justify-content: space-between;
        margin-top: variables.$single_product_quantity_margin_top;
    }

    &__add-cart {
        display: flex;
        align-items: center;
        margin-right: variables.$single_product_add_cart_margin_right;
        padding: variables.$single_product_add_cart_padding;
        border-style: solid;
        border-width: variables.$single_product_add_cart_border_width;
        border-color: colors.$single_product_add_cart_border_color;
        border-radius: variables.$single_product_add_cart_border_radius;
        font-weight: bold;
        font-size: variables.$single_product_add_cart_font_size;
        background-color: colors.$single_product_add_cart_border_color;
        color: colors.$single_product_add_cart_color;
        cursor: pointer;

        transition: background-color
                variables.$single_product_add_cart_transition,
            border-color variables.$single_product_add_cart_transition;

        &:hover {
            background-color: colors.$single_product_add_cart_border_color_hover;
            border-color: colors.$single_product_add_cart_border_color_hover;
        }

        &--added {
            border-color: colors.$single_product_add_cart_added_border_color;
            background-color: colors.$single_product_add_cart_added_border_color;

            &:hover {
                border-color: colors.$single_product_add_cart_added_border_color_hover;
                background-color: colors.$single_product_add_cart_added_border_color_hover;
            }
        }
    }

    &__sale {
        position: absolute;
        top: variables.$single_product_sale_top;
        left: variables.$single_product_sale_top;
        width: variables.$single_product_sale_width;
        height: auto;

        @media screen and (max-width: variables.$single_product_info_medium_screen) {
            top: variables.$single_product_sale_top_medium;
            left: variables.$single_product_sale_left_medium;
        }
    }

    &__description-wrapper {
        padding-top: variables.$single_product_description_padding_top;
    }

    &__message {
        font-weight: bold;
        font-style: italic;
        font-size: variables.$single_product_message_font_size;
        text-align: center;
        color: colors.$single_product_message_color;
    }

    &__spinner-box {
        text-align: center;
    }

    &__spinner {
        font-size: variables.$single_product_spinner_font_size;
        color: colors.$single_product_spinner_color;

        // set small animation with spinner rotations
        animation-name: spinner-animation;
        animation-duration: variables.$single_product_spinner_animation_duration;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    &__cart-error-message {
        margin-top: variables.$single_product_cart_error_message_margin_top;
        margin-bottom: variables.$single_product_cart_error_message_margin_bottom;
        font-weight: bold;
        font-size: variables.$single_product_cart_error_message_font_size;
        color: colors.$single_product_cart_error_message_color;
        text-align: center;
    }
}

@keyframes spinner-animation {
    100% {
        transform: rotate(variables.$single_product_spinner_animation_rotation);
    }
}
