// colors

// body
$body_background_color: #2e303c;

// social
$social_background_color: #2b2d39;
$social_item_border_color: #383a46;
$social_icon_color: white;
$social_link_background_color_hover: #a8d04b;

// searchbar
$searchbar_button_border_color: #383a46;
$searchbar_button_background_color: #a8d04b;
$searchbar_button_background_color_hover: #65890e;

// header
$header_background_color: #2e303c;
$header_color: white;
$header_user_screen_medium_border_color: #383a46;
$header_top_border_color: #383a46;
$header_user_border_color: #383a46;
$header_user_background_color: #2b2d39;
$header_username_color: #abd34b;
$header_donate_border_color: #393b47;
$header_donate_color: #f7d12d;
$header_donate_border_color_hover: #373a44;
$header_donate_background_color_hover: #2b2d39;

// main
$main_background_color: white;

// navigation
$navigation_list_hamburger_background_color: #2e303c;
$navigation_list_color: white;
$navigation_list_color_hover: #e0d2d2;
$navigation_arrow_color: #6c6f78;
$navigation_arrow_color_hover: white;
$navigation_hamburger_close_color_hover: #e0d2d2;
$navigation_submenu_item_background_color: #2b2d39;
$navigation_submenu_item_border_color: #383a46;
$navigation_hamburger_menu_color_hover: #e0d2d2;

// logo
$Logo_text_color_hover: #e0d2d2;
$logo_text_color: white;

// footer
$footer_color: white;
$footer_heading_border_color: #383a46;
$footer_join_color: #a0c54f;
$footer_join_background_color: #2b2d39;
$footer_join_border_color: #383a46;
$footer_join_background_color_hover: #393b4b;
$footer_link_color: white;
$footer_arrow_color: #a3cd41;
$footer_redirect_color: #d0a531;
$footer_social_border_color: #383a46;
$footer_bottom_border_color: #383a46;

// email
$email_box_border_color: #383a46;
$email_box_background_color: #2b2d39;
$email_icon_color: #a7d150;
$email_input_background_color: #2b2d39;
$email_input_color: white;
$email_message_color: #1ae1d8;
