// colors

// body
$body_background_color: #2e303c;

// social
$social_background_color: #2b2d39;
$social_item_border_color: #383a46;
$social_icon_color: white;
$social_link_background_color_hover: #a8d04b;

// searchbar
$searchbar_button_border_color: #383a46;
$searchbar_button_background_color: #a8d04b;
$searchbar_button_background_color_hover: #65890e;

// header
$header_background_color: #2e303c;
$header_color: white;
$header_user_screen_medium_border_color: #383a46;
$header_top_border_color: #383a46;
$header_user_border_color: #383a46;
$header_user_background_color: #2b2d39;
$header_username_color: #abd34b;
$header_donate_border_color: #393b47;
$header_donate_color: #f7d12d;
$header_donate_border_color_hover: #373a44;
$header_donate_background_color_hover: #2b2d39;

// main
$main_background_color: white;
$main_heading_color: #26262e;

// navigation
$navigation_list_hamburger_background_color: #2e303c;
$navigation_list_color: white;
$navigation_list_color_hover: #e0d2d2;
$navigation_arrow_color: #6c6f78;
$navigation_arrow_color_hover: white;
$navigation_hamburger_close_color_hover: #e0d2d2;
$navigation_submenu_item_background_color: #2b2d39;
$navigation_submenu_item_border_color: #383a46;
$navigation_hamburger_menu_color_hover: #e0d2d2;

// logo
$Logo_text_color_hover: #e0d2d2;
$logo_text_color: white;

// footer
$footer_color: white;
$footer_heading_border_color: #383a46;
$footer_join_color: #a0c54f;
$footer_join_background_color: #2b2d39;
$footer_join_border_color: #383a46;
$footer_join_background_color_hover: #393b4b;
$footer_link_color: white;
$footer_arrow_color: #a3cd41;
$footer_redirect_color: #d0a531;
$footer_social_border_color: #383a46;
$footer_bottom_border_color: #383a46;

// email
$email_box_border_color: #383a46;
$email_box_background_color: #2b2d39;
$email_icon_color: #a7d150;
$email_input_background_color: #2b2d39;
$email_input_color: white;
$email_message_color: #1ae1d8;

// breadcrumbs
$breadcrumbs_background_color: #f6f6f6;
$breadcrumbs_box_background_color: #f0f0f0;
$breadcrumbs_box_border_color_hover: #aad047;
$breadcrumbs_icon_color: #a7d23c;
$breadcrumbs_item_color: #a6c742;
$breadcrumbs_link_color: #676769;

// top-back
$top_back_background_color: #ff6100;
$top_back_color: white;
$top_back_background_color_hover: #df5500;

// search
$search_border_color: #f0f0f0;
$search_icon_color: #2d2e32;
$search_input_placeholder_color: #b6b1b1;

// cart
$cart_button_view_background_color: white;
$cart_button_view_color: #5f8100;
$cart_button_view_background_color_hover: #aad047;
$cart_button_view_color_hover: white;
$cart_button_view_border_color: #aad047;
$cart_button_checkout_background_color_hover: #8daf35;
$cart_button_checkout_color: white;
$cart_icon_color: #a9d544;
$cart_icon_color_hover: #99c437;
$cart_item_border_color: #e9e9e9;
$cart_item_link_color: #27272f;
$cart_price_color: #4f5055;
$cart_quantity_color: #7a6f6f;
$cart_subtotal_color: #29292b;

// shop-page
$shop_page_aside_heading_color: #2d2c3a;
$shop_page_aside_background_color_medium: white;
$shop_page_aside_border_color_medium: #85af19;
$shop_page_aside_box_shadow_medium_color: #042c0a;
$shop_page_header_border_color: #e9e9e9;
$shop_page_showing_color: #747478;
$shop_page_hamburger_color: #26262e;
$shop_page_hamburger_color_hover: #617e19;
$shop_page_message_color: #26262e;

// slider
$slider_track_border_color: #9dc243;
$slider_track_background_color: #a4cc45;
$slider_button_background_color: white;
$slider_button_background_color_active: #a4cc45;
$slider_range_border_color: #ebebeb;
$slider_range_background_color: #f5f5f5;

// filter
$filter_button_border_color: #e9e9e9;
$filter_button_background_color: white;
$filter_button_background_color_hover: #aad047;
$filter_icon_hover_button_color: white;
$filter_icon_hover_button_border_color: white;
$filter_button_text_hover_button_color: white;
$filter_button_text_color: #2d2c38;
$filter_icon_color: #aad449;
$filter_link_border_color: #e9e9e9;
$filter_link_background_color_hover: #aad047;
$filter_link_text_hover_link_color: white;
$filter_link_text_color: #323137;
$filter_link_number_color: #00870a;
$filter_pounds_color: #4f5055;
$filter_price_color: #7a6f6f;
$filter_divider_border_color: #aad047;
$filter_slider_border_color: #e9e9e9;
$filter_submenu_arrow_color: #00870a;

// tags-cloud
$tags_cloud_circle_background_color: #aad047;
$tags_cloud_value_color: white;
$tags_cloud_tag_border_color: #e9e9e9;
$tags_cloud_tags_border_color: #e9e9e9;
$tags_cloud_text_color: #27272f;

// top-products
$top_products_before_color: #7a6f6f;
$top_products_before_text_decoration_color: #a1a1a1;
$top_products_after_color: #4f5055;
$top_products_heading_link_color: #27272f;
$top_products_product_border_color: #e9e9e9;

// stars
$stars_icon_color: #f36c03;
$stars_icon_empty_color: #ffbf8d;

// select-list
$select_list_text_color: #747478;
$select_list_arrow_color: #656568;
$select_list_sel_border_color: #e9e9e9;
$select_list_sel_background_color: white;
$select_list_options_border_color: #e9e9e9;
$select_list_options_background_color: white;
$select_list_option_color: #555564;
$select_list_option_background_color: #e3e3e3;

// product
$product_border_color: #e9e9e9;
$product_background_color_hover: #2e303c;
$product_hover_heading_color: white;
$product_button_border_color: #aad047;
$product_button_background_color: #aad047;
$product_button_color: white;
$product_button_background_color_hover: #8daf35;
$product_button_hover_old_price_color: #34582d;
$product_button_hover_old_price_text_decoration_color: #4d8343;
$product_button_added_background_color: #f36c03;
$product_button_added_background_color_hover: #dd6001;
$product_heading_color: #27272f;
$product_line_background_color: #aad047;
$product_old_price_color: #4f7e47;
$product_old_price_text_decoration_color: #65ad59;

// pagination
$pagination_border_background_color: #e9e9e9;
$pagination_page_border_color: #e9e9e9;
$pagination_page_background_color: white;
$pagination_page_background_color_hover: #f5f5f5;
$pagination_page_color: #27272f;
$pagination_page_active_background_color: #2e303c;
$pagination_page_active_color: white;
$pagination_arrow_color: #aad047;
$pagination_arrow_background_color: white;
$pagination_arrow_active_color: white;
$pagination_arrow_active_background_color: #aad047;
$pagination_arrow_active_border_color: #9ec142;
$pagination_arrow_active_background_color_hover: #a3c942;
$pagination_arrow_active_border_color_hover: #92b53a;

// description
$description_tab_border_color: #d1d1d1;
$description_tab_color: #26262e;
$description_tab_background_color: #ebe9eb;
$description_tab_background_color_hover: #dfdfdf;
$description_tab_active_background_color: white;
$description_header_color: #26262e;
$description_comment_background_color: #f1f2f4;
$description_username_color: #2e303c;

// single-product
$single_product_rating_border_color: #e9e9e9;
$single_product_reviews_link_color: #d35f05;
$single_product_old_price_color: #7a6f6f;
$single_product_old_price_text_color: #a1a1a1;
$single_product_new_price_color: #4f5055;
$single_product_add_cart_border_color: #aad047;
$single_product_add_cart_border_color_hover: #8daf35;
$single_product_add_cart_color: white;

// quantity
$quantity_button_background_color: white;
$quantity_button_color: #524e4e;
$quantity_total_border_color: silver;
$quantity_total_background_color: #f5f5f5;

// checkout-dialog
$checkout_dialog_background_color: hsl(0deg 0% 75% / 34%);
$checkout_dialog_box_border_color: black;
$checkout_dialog_box_background_color: #2e303c;
$checkout_dialog_box_shadow_color: #0e214c;
$checkout_dialog_content_background_color: white;
$checkout_dialog_content_border_color: #878787;
$checkout_dialog_heading_color: white;
$checkout_dialog_close_background_color: #8daf35;
$checkout_dialog_close_background_color_hover: #95b937;
$checkout_dialog_close_border_color: black;
$checkout_dialog_close_icon_color: black;
$checkout_dialog_text_color: #0c0c0e;
$checkout_dialog_button_border_color: #979797;
$checkout_dialog_button_border_color_hover: #013e0e;
$checkout_dialog_button_background_color: #e7e7e7;
$checkout_dialog_button_background_color_hover: #f7f7f7;
$checkout_dialog_button_color: black;

// shop-cart
$shop_cart_content_wrapper_border_color: #e9e9e9;
$shop_cart_products_border_color: #e9e9e9;
$shop_cart_items_border_color: #e9e9e9;
$shop_cart_shopping_link_color: #727272;

// cart-product
$cart_product_heading_color: #26262e;
$cart_product_type_color: #727272;
$cart_product_edit_color: #727272;
$cart_product_money_color: #b57500;

// order
$order_background_color: #eeeeee;
$order_color: #26262e;
$order_heading_border_color: #dfdfdf;
$order_delivery_border_color: #dfdfdf;
$order_checkout_border_color: #8daf35;
$order_checkout_border_color_hover: #95b937;
$order_checkout_color: white;
$order_promotion_color_hover: #0c7227;
$order_promotion_code_border_color: #d1d1d1;
$order_promotion_code_color: #26262e;
$order_promotion_code_border_color_hover: #b5b5b5;
$order_promotion_code_box_shadow_focus_color: #cfcfcf;

// search-page
$search_page_message_color: #26262e;

// query-result
$query_result_border_color: #d5d5d5;
$query_result_background_color: #f9f9f9;
$query_result_background_color_hover: white;
$query_result_box_shadow_color_hover: #b3b3b3;
$query_result_image_color: #2e303c;
$query_result_description_color: #645c5c;
$query_result_cost_color: #b57500;
