// colors

// social
$social_background_color: #2b2d39;
$social_item_border_color: #383a46;
$social_icon_color: white;
$social_link_background_color_hover: #a8d04b;

// searchbar
$searchbar_button_border_color: #383a46;
$searchbar_button_background_color: #a8d04b;
$searchbar_button_background_color_hover: #65890e;

// header
$header_background_color: #2e303c;
$header_color: white;
$header_user_screen_medium_border_color: #383a46;
$header_top_border_color: #383a46;
$header_user_border_color: #383a46;
$header_user_background_color: #2b2d39;
$header_username_color: #abd34b;
