// variables

// base
$content_padding: 1rem;
$content_padding_small: 0.5rem;
$content_max_width: 80rem;
$content_screen_medium: 40rem;

// app
$app_min_width: 20rem;

// main
$main_content_padding_top: 3rem;
$main_heading_font_size: 2rem;

// social
$social_item_border_width: 0.1rem;
$social_item_font_size: 0.8rem;
$social_link_padding: 1rem;
$social_link_height: 100%;

// searchbar
$searchbar_active_padding: 0.7rem 1rem;
$searchbar_active_width: 14rem;
$searchbar_active_left: -16rem;
$searchbar_button_padding: 1rem;
$searchbar_button_height: 100%;
$searchbar_button_border_width: 0.1rem;
$searchbar_icon_font_size: 0.8rem;
$searchbar_input_transition: 0.7s;
$searchbar_input_z_index: 10000;

// header
$header_email_margin: 0 0.9rem;
$header_username_padding_bottom: 0.3rem;
$header_info_screen_medium: 45.5rem;
$header_info_screen_medium_flex: 100%;
$header_info_screen_smaller: 39rem;
$header_user_screen_medium_border_width: 0.1rem;
$header_number_font_size: 0.95rem;
$header_number_screen_medium_padding_top: 0.7rem;
$header_number_screen_medium_padding_bottom: 1rem;
$header_top_border_width: 0.1rem;
$header_user_padding: 0.7rem 1.3rem;
$header_user_font_size: 0.9rem;
$header_user_border_width: 0.1rem;
$header_user_screen_smaller_flex: 100%;
$header_letter_margin_right: 1.1rem;
$header_content_wrapper_screen_large: 75rem;
$header_donate_margin_left: 2rem;
$header_donate_padding: 0.7rem 1.3rem;
$header_donate_border_width: 0.15rem;
$header_donate_border_radius: 0.3rem;
$header_donate_font_size: 1.1rem;
$header_donate_wrapper_order_medium: 2;
$header_donate_wrapper_flex_medium: 100%;
$header_donate_wrapper_margin_top_medium: 1.5rem;
$header_content_wrapper_padding: 2.2rem 0;

// navigation
$navigation_hamburger_menu_screen_medium: 42.5rem;
$navigation_order_large: 1;
$navigation_flex_large: 100%;
$navigation_margin_top_large: 0.5rem;
$navigation_hamburger_close_font_size: 1.8rem;
$navigation_hamburger_close_transition: 0.5s;
$navigation_hamburger_close_transition_color_hover: 0.3s;
$navigation_hamburger_close_transition_transform_hover: 0.5s;
$navigation_hamburger_close_transform_hover: 90deg;
$navigation_hamburger_close_top: 1rem;
$navigation_hamburger_close_right: 1.5rem;
$navigation_hamburger_close_z_index: 20000;
$navigation_list_hamburger_z_index: 20000;
$navigation_arrow_margin_left: 0.6rem;
$navigation_arrow_margin_right: 0.1rem;
$navigation_arrow_font_size: 0.7rem;
$navigation_arrow_transition: 0.5s;
$navigation_arrow_transform_hover: -90deg;
$navigation_arrow_margin_left_hover: 0.7rem;
$navigation_list_padding: 1rem;
$navigation_list_font_size: 1.1rem;
$navigation_submenu_max_height_hover: 100%;
$navigation_submenu_z_index: 50000;
$navigation_submenu_transition: 0.5s;
$navigation_submenu_item_border_radius_child: 0.4rem;
$navigation_submenu_item_border_width: 0.1rem;
$navigation_hamburger_menu_margin: 1rem;
$navigation_hamburger_menu_font_size: 1.1rem;

// logo
$logo_modif_margin-right: 4rem;
$logo_flex_screen_medium: 1;
$logo_wrapper_margin_right: 0.9rem;
$logo_heading_font_size: 2.5rem;
$logo_heading_small_screen: 25rem;
$logo_heading_font_size_small: 1.8rem;
$logo_image_width_small: 3.2rem;
$logo_subheading_margin_left: 0.2rem;
$logo_subheading_margin_top: -0.2rem;
$logo_subheading_font_size: 1rem;

// footer
$footer_padding_top: 2rem;
$footer_copyright_margin: 0 0.8rem;
$footer_copyright_screen_small: 25rem;
$footer_news_margin_top_small: 0.2rem;
$footer_heading_margin_bottom: 2rem;
$footer_heading_padding_bottom: 1rem;
$footer_heading_border_width: 0.12rem;
$footer_heading_font_size: 1.4rem;
$footer_join_padding: 1rem;
$footer_join_font_size: 0.9rem;
$footer_join_border_width: 0.1rem;
$footer_link_font_size: 0.8rem;
$footer_arrow_translate: 0.8rem;
$footer_arrow_margin_right: 0.7rem;
$footer_arrow_transition: 0.5s;
$footer_list_margin_left: 3rem;
$footer_list_item_margin_bottom: 0.8rem;
$footer_list_text_transition: 0.3s;
$footer_list_text_line_height: 1.2rem;
$footer_redirect_font_size: 1.05rem;
$footer_redirect_font_size_small: 0.9rem;
$footer_sections_grid_col_min: 15rem;
$footer_sections_grid_col_max: 1fr;
$footer_sections_gap: 1.8rem;
$footer_sections_margin_bottom: 2rem;
$footer_social_border_width: 0.1rem;
$footer_social_margin_bottom: 0.5rem;
$footer_social_screen_medium: 43rem;
$footer_text_margin_bottom: 1rem;
$footer_text_line_height: 1.4rem;
$footer_tweet_icon_margin_right: 0.8rem;
$footer_tweet_icon_font_size: 2.2rem;
$footer_latest_tweet_line_height: 1.4rem;
$footer_latest_tweet_font_size: 0.9rem;
$footer_bottom_border_width: 0.12rem;
$footer_copy_wrapper_margin_right: 3rem;
$footer_copy_wrapper_font_size: 0.9rem;
$footer_copy_wrapper_flex_medium: 100%;
$footer_copy_wrapper_margin_bottom_medium: 1rem;
$footer_copy_wrapper_margin_top_medium: 1rem;

// email
$email_margin_top: 2rem;
$email_box_padding: 0.7rem 1rem;
$email_box_border_width: 0.15rem;
$email_box_border_radius: 0.3rem;
$email_icon_font_size: 0.7rem;
$email_input_flex: 1;
$email_input_margin_right: 0.5rem;
$email_input_font_size: 0.9rem;
$email_message_margin_top: 0.5rem;

// breadcrumbs
$breadcrumbs_box_border_width: 0.15rem;
$breadcrumbs_box_padding_top: 1.7rem;
$breadcrumbs_box_padding_left: 2.5rem;
$breadcrumbs_box_transition: 0.2s;
$breadcrumbs_box_screen_small: 30rem;
$breadcrumbs_box_hide_padding: 0.5rem 2.5rem;
$breadcrumbs_hide_font_size: 0.9rem;
$breadcrumbs_hide_max_width: 100rem;
$breadcrumbs_hide_max_height: 100rem;
$breadcrumbs_icon_margin_right: 0.55rem;
$breadcrumbs_icon_font_size: 1.2rem;
$breadcrumbs_icon_rotate: 180deg;
$breadcrumbs_item_font_size: 0.75rem;
$breadcrumbs_item_margin: 0 0.6rem;
$breadcrumbs_item_margin_top_small: 0.2rem;
$breadcrumbs_link_font_size: 0.9rem;
$breadcrumbs_list_margin_top: 1rem;
$breadcrumbs_list_margin_right: 2rem;
$breadcrumbs_list_transition: 1s;

// top-back
$top_back_padding: 0.7rem 0.6rem;
$top_back_padding_small: 0.5rem 0.4rem;
$top_back_bottom: 1rem;
$top_back_left: 0.5rem;
$top_back_border_radius: 0.15rem;
$top_back_transition: 0.35s;
$top_back_z_index: 10000;
$top_back_active_opacity: 1;
$top_back_small_screen_width: 28rem;
$top_back_text_font_size: 0.8rem;
$top_back_text_font_size_small: 0.65rem;
$top_back_icon_margin_bottom: 0.5rem;
$top_back_icon_margin_bottom_small: 0.3rem;
$top_back_icon_font_size: 0.9rem;
$top_back_icon_font_size_small: 0.6rem;

// search
$search_border_width: 0.13rem;
$search_border_radius: 0.2rem;
$search_input_padding_left: 1rem;
$search_input_padding_top: 0.8rem;
$search_label_padding_left: 0.8rem;
$search_icon_font_size: 0.8rem;

// shop-page
$shop_page_aside_flex: 0 0 15rem;
$shop_page_aside_margin_right: 1.5rem;
$shop_page_aside_transition: 1s;
$shop_page_aside_medium_screen: 56rem;
$shop_page_aside_padding_medium: 1rem;
$shop_page_aside_padding_left_medium: 1.3rem;
$shop_page_aside_width_medium: 15rem;
$shop_page_aside_z_index_medium: 3500;
$shop_page_aside_border_width_medium: 0.2rem;
$shop_page_aside_border_radius: 0.4rem;
$shop_page_aside_box_shadow_medium: 2px 2px 4px 0px;
$shop_page_aside_transform_medium: -20rem;
$shop_page_aside_transform_hamburger: -1rem;
$shop_page_aside_heading_font_size: 1.25rem;
$shop_page_content_flex: 1;
$shop_page_header_padding_bottom: 0.8rem;
$shop_page_header_margin_bottom: 2rem;
$shop_page_header_border_width: 0.1rem;
$shop_page_header_medium_screen: 39rem;
$shop_page_header_small_screen: 28rem;
$shop_page_heading_margin_right: 1rem;
$shop_page_heading_flex_medium: 100%;
$shop_page_heading_margin_bottom_medium: 1rem;
$shop_page_products_grid_min: 17rem;
$shop_page_products_grid_min_medium: 15rem;
$shop_page_products_grid_max: 1fr;
$shop_page_products_gap: 1.6rem;
$shop_page_products_small_screen: 34rem;
$shop_page_showing_margin_right: 1.5rem;
$shop_page_showing_font_size: 0.85rem;
$shop_page_showing_flex_medium: 100%;
$shop_page_showing_margin_bottom_medium: 1rem;
$shop_page_pagination_margin_top: 2.4rem;
$shop_page_hamburger_top: -1.8rem;
$shop_page_hamburger_transition: 0.5s;
$shop_page_filters_flex_medium: 100%;
$shop_page_filters_margin_bottom_small: 0.7rem;
$shop_page_message_margin_top: 1rem;
$shop_page_message_font_size: 1.1rem;

// cart
$cart_margin_top: 1rem;
$cart_margin_bottom: 2rem;
$cart_button_view_transition: 0.2s;
$cart_button_view_padding: 0.7rem 1rem;
$cart_button_view_border_width: 0.15rem;
$cart_button_view_border_radius: 0.2rem;
$cart_button_view_font_size: 0.9rem;
$cart_checkout_text_margin_right: 0.8rem;
$cart_icon_transition: 0.3s;
$cart_icon_animation_duration: 1s;
$cart_icon_animation_iteration_count: 1;
$cart_icon_animation_32p_rotate: -20deg;
$cart_icon_animation_32p_translate: 0.4rem;
$cart_image_wrapper_margin_right: 1rem;
$cart_item_padding: 1.5rem 0;
$cart_item_border_width: 0.1rem;
$cart_item_link_font_size: 1.1rem;
$cart_items_border_width: 0.2rem;
$cart_link_padding: 1.2rem 1rem;
$cart_name_margin_top: 0.1rem;
$cart_order_margin_top: 0.7rem;
$cart_price_font_size: 1.2rem;
$cart_quantity_margin_right: 0.7rem;
$cart_quantity_font_size: 1.2rem;
$cart_subtotal_font_size: 1.05rem;
$cart_total_padding: 1.1rem 0;
$cart_empty_font_size: 1.1rem;

// slider
$slider_range_border_width: 0.15rem;
$slider_range_height: 0.4rem;
$slider_track_left: 3rem;
$slider_track_right: 5rem;
$slider_line_oversize_width_top: 0.3rem;
$slider_line_oversize_width_bottom: 0.2rem;
$slider_line_border_radius: 0.2rem;
$slider_button_width: 0.4rem;
$slider_button_height: 1rem;
$slider_button_border_radius: 50%;
$slider_buttons_height: 1rem;
$slider_button_top_height: 0.5rem;
$slider_button_top_border_radius: 0.2rem;
$slider_button_top_z_index: 1000;
$slider_range_border_radius: 0.15rem;
$slider_area_top: -5rem;

// filter
$filter_button_border_width: 0.13rem;
$filter_button_margin_bottom: 1.5rem;
$filter_button_width: 100%;
$filter_button_border_radius: 0.2rem;
$filter_button_transition: 0.2s;
$filter_button_text_flex: 1;
$filter_button_text_font_size: 0.9rem;
$filter_icon_padding: 1rem 0.8rem;
$filter_icon_font_size: 0.7rem;
$filter_link_padding: 1rem 1.3rem;
$filter_link_font_size: 0.9rem;
$filter_link_border_width: 0.1rem;
$filter_submenu_arrow_hover_link_margin_left: 0.2rem;
$filter_submenu_arrow_hover_link_margin_right: 0.6rem;
$filter_link_text_margin_right: 1rem;
$filter_pounds_font_size: 1.2rem;
$filter_price_font_size: 1rem;
$filter_price_wrapper_margin_top: 1.35rem;
$filter_divider_margin_top: -0.1rem;
$filter_divider_margin_bottom: 1.8rem;
$filter_divider_border_width: 0.2rem;
$filter_divider_border_radius: 0.15rem;
$filter_slider_margin_top: 1rem;
$filter_slider_margin_bottom: 1.35rem;
$filter_slider_padding: 1.2rem 0;
$filter_slider_border_width: 0.1rem;
$filter_submenu_link_text_hover_list_flex: 1;
$filter_submenu_transition: 1s;
$filter_submenu_active_max_height: 100rem;
$filter_submenu_arrow_margin_right: 0.8rem;
$filter_submenu_arrow_font_size: 0.7rem;
$filter_submenu_arrow_transition: 0.3s;
$filter_list_item_arrow_transform: 90deg;

// tags-cloud
$tags_cloud_tag_border_width: 0.15rem;
$tags_cloud_tag_border_radius: 0.2rem;
$tags_cloud_circle_border_radius: 50%;
$tags_cloud_circle_top: 1rem;
$tags_cloud_circle_width: 0.5rem;
$tags_cloud_circle_margin_right: 0.05rem;
$tags_cloud_track_width: 0.3rem;
$tags_cloud_track_margin_left: 0.2rem;
$tags_cloud_value_margin_left: -0.1rem;
$tags_cloud_value_margin_right: -0.2rem;
$tags_cloud_value_padding: 0 0.8rem;
$tags_cloud_value_font_size: 0.9rem;
$tags_cloud_value_z_index: 1000;
$tags_cloud_tag_margin_right: 0.7rem;
$tags_cloud_tag_margin_bottom: 0.9rem;
$tags_cloud_tags_margin_top: 1.2rem;
$tags_cloud_tags_padding_top: 1.8rem;
$tags_cloud_tags_border_width: 0.1rem;
$tags_cloud_text_margin: 0.65rem 1.1rem;

// select-list
$select_list_options_width: 12.2rem;
$select_list_options_width_small: 3.2rem;
$select_list_options_margin_top: -0.15rem;
$select_list_options_border_width: 0.1rem;
$select_list_options_border_radius: 0.15rem;
$select_list_options_z_index: 2000;
$select_list_options_full_width: 100%;
$select_list_text_font_size: 0.85rem;
$select_list_arrow_margin_right: -0.4rem;
$select_list_arrow_font_size: 0.9rem;
$select_list_sel_padding: 0.7rem 1.3rem;
$select_list_sel_border_width: 0.1rem;
$select_list_sel_border_radius: 0.15rem;
$select_list_option_padding: 0.4rem 1.3rem;
$select_list_option_font_size: 0.85rem;
$select_list_paddings_padding_left: 0.7rem;
$select_list_paddings_padding_top: 0.4rem;
$select_list_paddings_padding_bottom: 0.4rem;
$select_list_paddings_padding_right: 1rem;
$select_list_large_width: 15.5rem;

// top-products
$top_products_before_margin_right: 0.7rem;
$top_products_before_font_size: 1.2rem;
$top_products_after_font_size: 1.2rem;
$top_products_heading_margin_bottom: 0.6rem;
$top_products_heading_margin_top: 0.1rem;
$top_products_heading_link_font_size: 1.1rem;
$top_products_image_margin_right: 1rem;
$top_products_price_margin_top: 0.55rem;
$top_products_product_padding: 1.5rem 0;
$top_products_product_border_width: 0.1rem;
$top_products_prod_margin_bottom: 2rem;
$top_sale_top: -0.45rem;
$top_sale_right: -0.5rem;

// stars
$stars_icon_margin_right: 0.25rem;
$stars_icon_font_size: 0.85rem;

// product
$product_transition: 0.2s;
$product_margin_bottom: 1rem;
$product_padding_bottom: 1.8rem;
$product_border_width: 0.1rem;
$product_height: 32rem;
$product_height_screen_small: 40rem;
$product_hover_heading_wrapper_margin_bottom: 1rem;
$product_hover_line_opacity: 1;
$product_button_padding: 0.7rem 1rem;
$product_button_width: 100%;
$product_button_border_width: 0.15rem;
$product_button_border_radius: 0.2rem;
$product_button_font_size: 1.2rem;
$product_button_transition: 0.2s;
$product_cart_font_size: 1.1rem;
$product_heading_font_size: 1.1rem;
$product_heading_wrapper_margin_right: 1rem;
$product_image_height: 22rem;
$product_image_height_screen_small: 30rem;
$product_image_wrapper_max_height: 100rem;
$product_image_wrapper_opacity: 1;
$product_info_margin: 1.4rem 0;
$product_line_bottom: -0.2rem;
$product_line_height: 0.2rem;
$product_line_width: 100%;
$product_old_price_margin_right: 0.7rem;
$product_sale_top: 0.5rem;
$product_sale_right: 0.5rem;
$product_sale_z_index: 1000;
$product_sale_width: 4rem;

// pagination
$pagination_page_border_width: 0.1rem;
$pagination_page_padding_left: 1rem;
$pagination_page_font_size: 0.9rem;
$pagination_page_active_z_index: 2000;
$pagination_page_width: 0.5rem;
$pagination_border_flex: 1;
$pagination_border_height: 0.1rem;
$pagination_page_padding_top: 0.7rem;
$pagination_arrow_left_font_size: 0.75rem;
$pagination_arrow_left_border_radius: 0.2rem;
$pagination_icon_margin_top: 0.1rem;

// description
$description_tab_border_width: 0.1rem;
$description_tab_border_radius: 0.3rem;
$description_tab_padding_top: 0.3rem;
$description_tab_padding_left: 0.8rem;
$description_tab_font_size: 1rem;
$description_tab_left_z_index: 1000;
$description_tab_left_flex: 0 0 0.5rem;
$description_tab_right_flex: 1;
$description_header_margin_top: 1.7rem;
$description_header_margin_bottom: 1.5rem;
$description_header_font_size: 1.3rem;
$description_text_line_height: 1.6rem;
$description_text_font_size: 1.05rem;
$description_comment_padding: 0.7rem;
$description_comment_border_radius: 1rem;
$description_username_margin_right: 0.3rem;
$description_comment_text_line_height: 1.35rem;

// single-product
$single_product_info_medium_screen: 40rem;
$single_product_picture_flex: 1;
$single_product_picture_flex_medium: 100%;
$single_product_picture_margin_right: 2rem;
$single_product_picture_margin_bottom: 2rem;
$single_product_details_flex: 1.5;
$single_product_image_width: 100%;
$single_product_heading_margin_bottom: 1rem;
$single_product_rating_margin_bottom: 1.5rem;
$single_product_rating_padding_bottom: 1.3rem;
$single_product_rating_border_width: 0.1rem;
$single_product_old_price_margin_right: 0.7rem;
$single_product_old_price_font_size: 1.3rem;
$single_product_new_price_font_size: 1.3rem;
$single_product_text_margin_top: 1.4rem;
$single_product_text_margin_bottom: 1.7rem;
$single_product_text_line_height: 1.6rem;
$single_product_text_font_size: 1.05rem;
$single_product_list_margin_bottom: 1rem;
$single_product_list_text_flex: 0 0 4rem;
$single_product_list_select_flex: 1;
$single_product_quantity_margin_top: 3rem;
$single_product_add_cart_margin_right: 2rem;
$single_product_add_cart_padding: 0.7rem 1rem;
$single_product_add_cart_border_width: 0.15rem;
$single_product_add_cart_border_radius: 0.2rem;
$single_product_add_cart_font_size: 0.9rem;
$single_product_add_cart_transition: 0.2s;
$single_product_sale_top: -0.6rem;
$single_product_sale_width: 3rem;
$single_product_sale_top_medium: -0.8rem;
$single_product_sale_left_medium: -0.3rem;
$single_product_description_padding_top: 2rem;
$single_product_message_font_size: 1.2rem;
$single_product_spinner_font_size: 1.5rem;
$single_product_spinner_animation_duration: 1s;
$single_product_spinner_animation_rotation: 360deg;
$single_product_cart_error_message_margin_top: 1.8rem;
$single_product_cart_error_message_margin_bottom: 0.5rem;
$single_product_cart_error_message_font_size: 1.15rem;

// quantity
$quantity_button_padding: 0.7rem 1.3rem;
$quantity_button_font_size: 1.05rem;
$quantity_sign_hover_transform_scale: 1.5;
$quantity_sign_transition: 0.2s;
$quantity_total_width: 2.7rem;
$quantity_total_border_width: 0.1rem;
$quantity_total_font_size: 0.9rem;

// shop-cart
$shop_cart_product_heading_medium_screen: 43rem;
$shop_cart_content_wrapper_large_screen: 66rem;
$shop_cart_content_wrapper_padding_bottom_large: 1.7rem;
$shop_cart_content_wrapper_border_width_large: 0.1rem;
$shop_cart_items_wrapper_flex: 1;
$shop_cart_items_wrapper_margin_right: 3.5rem;
$shop_cart_items_wrapper_flex_large: 100%;
$shop_cart_items_wrapper_margin_bottom_large: 1.7rem;
$shop_cart_order_wrapper_flex: 0 0 20rem;
$shop_cart_order_wrapper_flex_small: 1 1 100%;
$shop_cart_order_wrapper_small_screen: 22rem;
$shop_cart_products_margin: 1.7rem 0;
$shop_cart_products_border_width: 0.13rem;
$shop_cart_product_heading_margin: 0.8rem;
$shop_cart_product_heading_font_size: 0.72rem;
$shop_cart_product_heading_flex: 1 1 8.3rem;
$shop_cart_product_heading_details_flex: 1 1 25rem;
$shop_cart_product_heading_details_margin_left: 0.8rem;
$shop_cart_items_border_width: 0.1rem;
$shop_cart_continue_padding_top: 2.5rem;
$shop_cart_shopping_link_font_size: 0.8rem;

// cart-product
$cart_product_grid_columns: 4fr 1fr 1fr 1fr;
$cart_product_grid_columns_medium: 3fr 5rem;
$cart_product_grid_gap: 2rem;
$cart_product_info_small: 29rem;
$cart_product_modif_margin_bottom: 1.7rem;
$cart_product_image_wrapper_grid_repeat: 2;
$cart_product_image_wrapper_grid_min: 5rem;
$cart_product_image_wrapper_grid_max: 1fr;
$cart_product_image_box_flex: 15rem;
$cart_product_info_padding_top: 0.8rem;
$cart_product_info_padding_top_small: 0.2rem;
$cart_product_info_margin_left: 1.5rem;
$cart_product_info_flex: 8rem;
$cart_product_cost_padding_top: 1.2rem;
$cart_product_image_width: 100%;
$cart_product_heading_font_size: 1rem;
$cart_product_types_margin_top: 1.2rem;
$cart_product_types_font_size: 0.8rem;
$cart_product_kind_margin_top: 0.2rem;
$cart_product_type_margin_right: 0.7rem;
$cart_product_type_capitalize_font_size: 0.85rem;
$cart_product_edit_margin_top: 1rem;
$cart_product_edit_font_size: 0.8rem;
$cart_product_edit_left_margin_left: 1rem;
$cart_product_money_modif_margin_bottom: 1.5rem;

// checkout-dialog
$checkout_dialog_box_margin: 0.5rem;
$checkout_dialog_box_border_radius: 0.25rem;
$checkout_dialog_box_border_width: 0.1rem;
$checkout_dialog_box_shadow_coords: 0 0 2px 0px;
$checkout_dialog_box_transform: -150rem;
$checkout_dialog_box_transition: 1s;
$checkout_dialog_header_margin: 0 0.4rem;
$checkout_dialog_content_margin: 0.4rem;
$checkout_dialog_content_padding: 0.8rem;
$checkout_dialog_content_border_width: 0.1rem;
$checkout_dialog_heading_margin: 0.4rem 0;
$checkout_dialog_close_margin_top: -0.1rem;
$checkout_dialog_close_margin_bottom: 0.7rem;
$checkout_dialog_close_width: 2.8rem;
$checkout_dialog_close_border_width: 0.1rem;
$checkout_dialog_close_border_radius: 0.2rem;
$checkout_dialog_close_icon_font_size: 0.75rem;
$checkout_dialog_text_margin_top: 0.5rem;
$checkout_dialog_text_margin_bottom: 1.7rem;
$checkout_dialog_text_font_size: 1.04rem;
$checkout_dialog_button_margin_left: 0.6rem;
$checkout_dialog_button_padding: 0.15rem;
$checkout_dialog_button_width: 5rem;
$checkout_dialog_button_border_width: 0.1rem;
$checkout_dialog_button_border_radius: 0.15rem;

// order
$order_padding: 1.5rem;
$order_padding_top: 1.2rem;
$order_border_radius: 0.1rem;
$order_heading_margin_bottom: 1.4rem;
$order_heading_padding_bottom: 0.7rem;
$order_heading_font_size: 0.95rem;
$order_heading_border_width: 0.13rem;
$order_items_margin_bottom: 1rem;
$order_heading_text_font_size: 0.85rem;
$order_delivery_margin_top: 0.8rem;
$order_delivery_margin_bottom: 1.4rem;
$order_delivery_padding_bottom: 1.3rem;
$order_delivery_border_width: 0.1rem;
$order_checkout_width: 100%;
$order_checkout_margin_top: 0.4rem;
$order_checkout_margin_bottom: 1.4rem;
$order_checkout_padding: 0.5rem 1rem;
$order_checkout_border_width: 0.15rem;
$order_checkout_border_radius: 0.2rem;
$order_checkout_transition: 0.2s;
$order_checkout_font_size: 0.9rem;
$order_promotion_font_size: 0.85rem;
$order_promotion_transition: 0.3s;
$order_promotion_code_margin_top: 0.5rem;
$order_promotion_code_padding: 0.5rem 0.8rem;
$order_promotion_code_width: 100%;
$order_promotion_code_border_width: 0.1rem;
$order_promotion_code_border_radius: 0.2rem;
$order_promotion_code_font_size: 0.9rem;
$order_promotion_code_box_shadow_focus_coords: 0 0 2px 1px;
$order_promotion_code_wrapper_transition: 3.5s;
$order_promotion_code_wrapper_max_height: 100rem;
$order_promotion_code_wrapper_transition_duration: 0.2s;

// search-page
$search_page_heading_margin_bottom: 2.5rem;
$search_page_message_font_size: 1.15rem;
$search_page_pagination_margin_top: 3rem;

// query-result
$query_result_padding: 0.8rem;
$query_result_border_width: 0.1rem;
$query_result_border_radius: 0.6rem;
$query_result_transition: 0.25s;
$query_result_box_shadow_coords_hover: 0 0 6px 1px;
$query_result_scale_hover: 0.95;
$query_result_next_margin_top: 3rem;
$query_result_image_wrapper_flex: 0 0 7rem;
$query_result_content_wrapper_flex: 1;
$query_result_content_wrapper_small_screen: 26rem;
$query_result_content_wrapper_flex_small: 100%;
$query_result_content_flex: 1;
$query_result_content_padding_top: 0.2rem;
$query_result_content_padding_left: 1.2rem;
$query_result_image_width: 100%;
$query_result_image_border_radius: 0.4rem;
$query_result_heading_font_size: 1.3rem;
$query_result_description_margin_top: 1rem;
$query_result_description_font_size: 1.05rem;
$query_result_price_margin_top: 0.2rem;
$query_result_price_margin_left: 1.2rem;
$query_result_cost_margin_top: 0.2rem;
$query_result_cost_font_size: 1.15rem;
