// variables

// base
$content_padding: 1rem;
$content_padding_small: 0.5rem;
$content_max_width: 80rem;
$content_screen_medium: 40rem;

// app
$app_min_width: 20rem;

// main
$main_content_padding_top: 3rem;
$main_heading_font_size: 2rem;

// social
$social_item_border_width: 0.1rem;
$social_item_font_size: 0.8rem;
$social_link_padding: 1rem;
$social_link_height: 100%;

// searchbar
$searchbar_active_padding: 0.7rem 1rem;
$searchbar_active_width: 14rem;
$searchbar_button_padding: 1rem;
$searchbar_button_height: 100%;
$searchbar_button_border_width: 0.1rem;
$searchbar_icon_font_size: 0.8rem;
$searchbar_input_transition: 0.7s;

// header
$header_email_margin: 0 0.9rem;
$header_username_padding_bottom: 0.3rem;
$header_info_screen_medium: 45.5rem;
$header_info_screen_medium_flex: 100%;
$header_info_screen_smaller: 39rem;
$header_user_screen_medium_border_width: 0.1rem;
$header_number_font_size: 0.95rem;
$header_number_screen_medium_padding_top: 0.7rem;
$header_number_screen_medium_padding_bottom: 1rem;
$header_top_border_width: 0.1rem;
$header_user_padding: 0.7rem 1.3rem;
$header_user_font_size: 0.9rem;
$header_user_border_width: 0.1rem;
$header_user_screen_smaller_flex: 100%;
$header_letter_margin_right: 1.1rem;
$header_content_wrapper_screen_large: 75rem;
$header_donate_margin_left: 2rem;
$header_donate_padding: 0.7rem 1.3rem;
$header_donate_border_width: 0.15rem;
$header_donate_border_radius: 0.3rem;
$header_donate_font_size: 1.1rem;
$header_donate_wrapper_order_medium: 2;
$header_donate_wrapper_flex_medium: 100%;
$header_donate_wrapper_margin_top_medium: 1.5rem;
$header_content_wrapper_padding: 2.2rem 0;

// navigation
$navigation_hamburger_menu_screen_medium: 42.5rem;
$navigation_order_large: 1;
$navigation_flex_large: 100%;
$navigation_margin_top_large: 0.5rem;
$navigation_hamburger_close_font_size: 1.8rem;
$navigation_hamburger_close_transition: 0.5s;
$navigation_hamburger_close_transition_color_hover: 0.3s;
$navigation_hamburger_close_transition_transform_hover: 0.5s;
$navigation_hamburger_close_transform_hover: 90deg;
$navigation_hamburger_close_top: 1rem;
$navigation_hamburger_close_right: 1.5rem;
$navigation_hamburger_close_z_index: 20000;
$navigation_list_hamburger_z_index: 10000;
$navigation_arrow_margin_left: 0.6rem;
$navigation_arrow_margin_right: 0.1rem;
$navigation_arrow_font_size: 0.7rem;
$navigation_arrow_transition: 0.5s;
$navigation_arrow_transform_hover: -90deg;
$navigation_arrow_margin_left_hover: 0.7rem;
$navigation_list_padding: 1rem;
$navigation_list_font_size: 1.1rem;
$navigation_submenu_max_height_hover: 100%;
$navigation_submenu_z_index: 50000;
$navigation_submenu_transition: 0.5s;
$navigation_submenu_item_border_radius_child: 0.4rem;
$navigation_submenu_item_border_width: 0.1rem;
$navigation_hamburger_menu_margin: 1rem;
$navigation_hamburger_menu_font_size: 1.1rem;

// logo
$logo_modif_margin-right: 4rem;
$logo_flex_screen_medium: 1;
$logo_wrapper_margin_right: 0.9rem;
$logo_heading_font_size: 2.5rem;
$logo_heading_small_screen: 25rem;
$logo_heading_font_size_small: 1.8rem;
$logo_image_width_small: 3.2rem;
$logo_subheading_margin_left: 0.2rem;
$logo_subheading_margin_top: -0.2rem;
$logo_subheading_font_size: 1rem;

// footer
$footer_padding_top: 2rem;
$footer_copyright_margin: 0 0.8rem;
$footer_copyright_screen_small: 25rem;
$footer_news_margin_top_small: 0.2rem;
$footer_heading_margin_bottom: 2rem;
$footer_heading_padding_bottom: 1rem;
$footer_heading_border_width: 0.12rem;
$footer_heading_font_size: 1.4rem;
$footer_join_padding: 1rem;
$footer_join_font_size: 0.9rem;
$footer_join_border_width: 0.1rem;
$footer_link_font_size: 0.8rem;
$footer_arrow_translate: 0.8rem;
$footer_arrow_margin_right: 0.7rem;
$footer_arrow_transition: 0.5s;
$footer_list_margin_left: 3rem;
$footer_list_item_margin_bottom: 1rem;
$footer_list_text_transition: 0.3s;
$footer_redirect_font_size: 1.05rem;
$footer_redirect_font_size_small: 0.9rem;
$footer_sections_grid_col_min: 15rem;
$footer_sections_grid_col_max: 1fr;
$footer_sections_gap: 1.8rem;
$footer_sections_margin_bottom: 2rem;
$footer_social_border_width: 0.1rem;
$footer_social_margin_bottom: 0.5rem;
$footer_social_screen_medium: 43rem;
$footer_text_margin_bottom: 1rem;
$footer_text_line_height: 1.4rem;
$footer_tweet_icon_margin_right: 0.8rem;
$footer_tweet_icon_font_size: 2.2rem;
$footer_latest_tweet_line_height: 1.4rem;
$footer_latest_tweet_font_size: 0.9rem;
$footer_bottom_border_width: 0.12rem;
$footer_copy_wrapper_margin_right: 3rem;
$footer_copy_wrapper_font_size: 0.9rem;
$footer_copy_wrapper_flex_medium: 100%;
$footer_copy_wrapper_margin_bottom_medium: 1rem;
$footer_copy_wrapper_margin_top_medium: 1rem;

// email
$email_margin_top: 2rem;
$email_box_padding: 0.7rem 1rem;
$email_box_border_width: 0.15rem;
$email_box_border_radius: 0.3rem;
$email_icon_font_size: 0.7rem;
$email_input_flex: 1;
$email_input_margin_right: 0.5rem;
$email_input_font_size: 0.9rem;
$email_message_margin_top: 0.5rem;

// breadcrumbs
$breadcrumbs_box_border_width: 0.15rem;
$breadcrumbs_box_padding_top: 1.7rem;
$breadcrumbs_box_padding_left: 2.5rem;
$breadcrumbs_box_transition: 0.2s;
$breadcrumbs_box_screen_small: 30rem;
$breadcrumbs_hide_font_size: 0.9rem;
$breadcrumbs_icon_margin_right: 0.55rem;
$breadcrumbs_icon_font_size: 1.2rem;
$breadcrumbs_item_font_size: 0.75rem;
$breadcrumbs_item_margin: 0 0.6rem;
$breadcrumbs_link_font_size: 0.9rem;
$breadcrumbs_list_margin_top: 1rem;
$breadcrumbs_list_margin_right: 2rem;

// top-back
$top_back_padding: 0.7rem 0.6rem;
$top_back_bottom: 1rem;
$top_back_left: 0.5rem;
$top_back_border_radius: 0.15rem;
$top_back_transition: 0.35s;
$top_back_active_opacity: 1;
$top_back_text_font_size: 0.8rem;
$top_back_icon_margin_bottom: 0.5rem;
$top_back_icon_font_size: 0.9rem;

// search
$search_border_width: 0.13rem;
$search_border_radius: 0.2rem;
$search_input_padding_left: 1rem;
$search_input_padding_top: 0.8rem;
$search_label_padding_left: 0.8rem;
$search_icon_font_size: 0.8rem;

// shop-page
$shop_page_aside_flex: 0 0 15rem;
$shop_page_aside_margin_right: 1.5rem;
$shop_page_content_flex: 1;
$shop_page_aside_heading_font_size: 1.25rem;

// cart
$cart_margin_top: 1rem;
$cart_margin_bottom: 2rem;
$cart_button_view_transition: 0.2s;
$cart_button_view_padding: 0.7rem 1rem;
$cart_button_view_border_width: 0.15rem;
$cart_button_view_border_radius: 0.2rem;
$cart_button_view_font_size: 0.9rem;
$cart_checkout_text_margin_right: 0.8rem;
$cart_icon_transition: 0.3s;
$cart_icon_animation_duration: 1s;
$cart_icon_animation_iteration_count: 1;
$cart_icon_animation_32p_rotate: -20deg;
$cart_icon_animation_32p_translate: 0.4rem;
$cart_image_wrapper_margin_right: 0.6rem;
$cart_item_padding: 1.5rem 0;
$cart_item_border_width: 0.1rem;
$cart_item_link_font_size: 1.1rem;
$cart_items_border_width: 0.2rem;
$cart_link_padding: 1.2rem 1rem;
$cart_name_margin_top: 0.4rem;
$cart_order_margin_top: 0.7rem;
$cart_price_font_size: 1.2rem;
$cart_quantity_margin_right: 0.7rem;
$cart_quantity_font_size: 1.2rem;
$cart_subtotal_font_size: 1.05rem;
$cart_total_padding: 1.1rem 0;

// slider
$slider_range_border_width: 0.15rem;
$slider_range_height: 0.4rem;
$slider_track_left: 3rem;
$slider_track_right: 5rem;
$slider_line_oversize_width_top: 0.3rem;
$slider_line_oversize_width_bottom: 0.2rem;
$slider_line_border_radius: 0.2rem;
$slider_button_width: 0.4rem;
$slider_button_height: 1rem;
$slider_button_border_radius: 50%;
$slider_buttons_height: 1rem;
$slider_button_top_height: 0.5rem;
$slider_button_top_border_radius: 0.2rem;
$slider_button_top_z_index: 1000;
$slider_range_border_radius: 0.15rem;

// filter
$filter_button_border_width: 0.13rem;
$filter_button_margin_bottom: 1.5rem;
$filter_button_width: 100%;
$filter_button_border_radius: 0.2rem;
$filter_button_transition: 0.2s;
$filter_button_text_flex: 1;
$filter_button_text_font_size: 0.9rem;
$filter_icon_padding: 1rem 0.8rem;
$filter_icon_font_size: 0.7rem;
$filter_link_padding: 1rem 1.3rem;
$filter_link_font_size: 0.9rem;
$filter_link_border_width: 0.1rem;
$filter_submenu_arrow_hover_link_margin_left: 0.2rem;
$filter_submenu_arrow_hover_link_margin_right: 0.6rem;
$filter_link_text_margin_right: 1rem;
$filter_pounds_font_size: 1.2rem;
$filter_price_font_size: 1rem;
$filter_price_wrapper_margin_top: 1.35rem;
$filter_divider_margin_top: -0.1rem;
$filter_divider_margin_bottom: 1.8rem;
$filter_divider_border_width: 0.2rem;
$filter_divider_border_radius: 0.15rem;
$filter_slider_margin_top: 1rem;
$filter_slider_margin_bottom: 1.35rem;
$filter_slider_padding: 1.2rem 0;
$filter_slider_border_width: 0.1rem;
$filter_submenu_link_text_hover_list_flex: 1;
$filter_submenu_transition: 1s;
$filter_submenu_active_max_height: 100rem;
$filter_submenu_arrow_margin_right: 0.8rem;
$filter_submenu_arrow_font_size: 0.7rem;
$filter_submenu_arrow_transition: 0.3s;
